{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Program{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h2 class="mb-4">Create New Program</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form.description|as_crispy_field }}
                            </div>


                            <div class="col-md-6 mb-3">
                                {{ form.start_date|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.end_date|as_crispy_field }}
                            </div>

                            <div class="col-md-6 mb-3">
                                {{ form.capacity|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.image|as_crispy_field }}
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="{% url 'program_list' %}" class="btn btn-outline-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Create Program</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}